<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.scisoft.analysis.powder.rcp.PowderToolkit"
            icon="icons/releng_gears.gif"
            id="uk.ac.diamond.scisoft.analysis.powder.rcp.PowderToolkit"
            name="Powder Toolkit">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.diamond.scisoft.analysis.powder.rcp.views.Loadview"
            id="uk.ac.diamond.scisoft.analysis.powder.ui.views.Loadview"
            name="Load"
            restorable="true">
      </view>
      <view
            class="uk.ac.diamond.scisoft.analysis.powder.rcp.views.Indexview"
            id="uk.ac.diamond.scisoft.analysis.powder.ui.views.Indexview"
            name="Index"
            restorable="true">
      </view>
      <view
            class="uk.ac.diamond.scisoft.analysis.powder.rcp.views.Compareview"
            id="uk.ac.diamond.scisoft.analysis.powder.ui.views.Compareview"
            name="Compare"
            restorable="true">
      </view>
      <view
            class="uk.ac.diamond.scisoft.analysis.powder.rcp.views.LoadedDataview"
            id="uk.ac.diamond.scisoft.analysis.powder.ui.views.LoadedDataview"
            name="Loaded Data"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.eclipse.dawnsci.plotting.api.VanillaPlottingSystemView"
            id="uk.ac.diamond.scisoft.analysis.powder.ui.views.PDPlot"
            name="PDPlot"
            restorable="true">
      </view>
   </extension>

</plugin>
